$base-color-start: #eee;
$base-color-end: #ccc;
$text-color: #5e5e5e;
$text-focus-color: #333;
$background-color: #eee;
$canvas-color: #fff;
$shadow-color: #444;
$focus-shadow-color: #999;
$text-active-color: #444;
$text-active-shadow-color: #000;
