$base-color-start: #eee;
$base-color-end: #ccc;
$text-color: #555;
$text-focus-color: #333;
$background-color: #eee;
$canvas-color: #fff;
$shadow-color: #444;
$focus-shadow-color: #999;
$text-active-color: #444;
$text-active-shadow-color: #000;

$header-height: 50px;
$footer-height: 50px;
$pg-height: 500px;
$pg-width: 500px;

%shadowed-text {
  color: $text-color;
  text-shadow: 0 0 5px $shadow-color;
}

%shadowed-button {
  color: $text-color;
  text-shadow: 0 0 5px $shadow-color;
  transition: all ease 300ms;

  &:hover {
    color: $text-focus-color;
    text-shadow: 1px 1px $focus-shadow-color;
  }
}

%shadowed-icon-button {
  svg {
    transition: all ease 300ms;
    color: $text-color;
    filter: drop-shadow(0 0 2px $shadow-color);
  }
  &:hover {
    filter: none !important;

    svg {
      color: $text-focus-color;
      filter: drop-shadow(1px 1px $focus-shadow-color);
    }
  }
}

%shadowed-icon {
  svg {
    transition: all ease 300ms;
    color: $text-color;
    filter: drop-shadow(0 0 2px $shadow-color);
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($duration, $animation, $iteration-count: infinite) {
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-iteration-count: $iteration-count;

  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-iteration-count: $iteration-count;

  animation-duration: $duration;
  animation-name: $animation;
  animation-iteration-count: $iteration-count;
}

@mixin transform($params) {
  -webkit-transform: $params;
  -moz-transform: $params;
  -o-transform: $params;
  -ms-transform: $params;
  transform: $params;
}

header {
  color: $text-color;
  width: 100%;
  justify-content: space-between;
  display: flex;
  position: fixed;
  height: $header-height;
  background: linear-gradient(135deg, $base-color-start, $base-color-end);
  box-shadow: 0px 1px 10px 0px $shadow-color;
}

#logo-link {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  padding: 0 10px;
}

#logo {
  height: 90%;
  width: auto;
  transition: all ease 300ms;
  color: $text-color;
  filter: drop-shadow(0 0 2px $shadow-color);

  &:hover {
    transform: scale(1.1);
    color: $text-focus-color;
    filter: none;
  }
}

nav {
  display: flex;
  align-self: flex-end;
  height: 100%;
  align-items: center;
  font-size: 2rem;
  padding-right: 10px;

  ul {
    list-style: none;
    height: 100%;

    li {
      display: inline-flex;
      height: 100%;
    }
  }
}

.nav-link {
  @extend %shadowed-button;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px !important;
  letter-spacing: 1px;
  font-weight: 100;

  &:hover {
    text-decoration: none !important;
  }

  &.active {
    font-weight: 800;
    color: $text-active-color;
    text-shadow: 1px 1px 10px $text-active-shadow-color;

    &:hover {
      color: $text-color;
      text-shadow: 1px 1px $focus-shadow-color;
    }
  }
}

.nav-menu {
  .MuiList-root {
    background: linear-gradient(135deg, $background-color, $base-color-end);
    padding: 0;
  }

  .MuiPaper-root {
    border-radius: 0;
    top: 0;
  }

  .MuiButtonBase-root {
    font-size: 2rem;
    letter-spacing: 1px;
    height: $header-height;
    padding: 0 20px;
    font-family: inherit;
    @extend %shadowed-button;
  }
}

footer {
  width: 100%;
  height: $footer-height;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    $base-color-end,
    $base-color-end 40%,
    $base-color-start
  );
  font-size: 1.5rem;
  @extend %shadowed-text;
  box-shadow: 0px 1px 10px 0px $shadow-color;
}

#root {
  height: 100%;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas-task {
  max-width: 400px;
}

#canvas-container {
  box-shadow: 0 0 10px $shadow-color;
}

#canvas-main {
  width: $pg-width;
  height: $pg-height;
  background-color: $canvas-color;
}

#canvas-container {
  position: relative;

  &.disabled {
    canvas {
      background-color: $background-color;
    }
  }
}

#controls {
  height: -webkit-fill-available;
  position: absolute;
  z-index: 50;
  right: 0;
  top: 0;
  margin: 5px 5px 5px 0;
  display: flex;
  flex-direction: column;

  button {
    svg {
      transition: all ease 300ms;
    }
    svg.canvas-control {
      color: $text-color;
      filter: drop-shadow(0 0 2px $shadow-color);
    }
    &:hover {
      filter: none !important;

      svg.canvas-control {
        color: $text-focus-color;
        filter: drop-shadow(1px 1px $focus-shadow-color);
      }
    }
  }
}

.circle-picker {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#canvas-disclaimer {
  position: absolute;
  bottom: 0;
  right: 0;
}

#color-picker-container {
  position: absolute !important;
  right: 0;
  left: 0;
  margin: auto;
  top: 40px;
  z-index: 100;
  background-color: $background-color;
  width: 30px;
  padding: 7px 0;
  box-shadow: 0 0 5px $shadow-color;
  border-radius: 15px;
}

#size-range-container {
  width: 30px;
  height: 100px;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 5px $shadow-color;
  border-radius: 15px;
  padding: 10px 0;
  top: 40px;
  right: 0;
  left: 0;
  margin: auto;
}

#copy {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
}

.circular-loader {
  position: absolute;
  z-index: 150;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

#task-container {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend %shadowed-text;

  #task-message {
    text-align: center;
    font-size: 2.9rem;
  }

  button {
    @extend %shadowed-icon-button;
  }
}

.controls-tooltip {
  font-size: 1.2rem !important;
  text-shadow: 0 0 1px $canvas-color;
  text-align: center;
}

.modal {
  height: auto;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
  outline: 0;

  .modal-media {
    width: auto;
    height: 200px;
    margin: -20px 0;
  }
}

.switch-transition-wrapper {
  position: relative;
  width: -webkit-fill-available;

  & > div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
  }
}

#picker-container {
  width: $pg-width;
  height: $pg-height;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: inherit;
  font-size: 2rem;
}

#picker-task {
  font-size: 4rem;
  min-height: 70px;
  @extend %shadowed-text;
}

#picker-options-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.picker-option {
  display: flex;
  align-items: center;
  justify-content: center;

  .MuiButton-label {
    font-size: 3rem;
    text-transform: lowercase;
  }
  .MuiButton-root {
    @extend %shadowed-button;
    font-family: inherit;
  }

  .picker-option-selected {
    opacity: 0;
  }

  .validator-display {
    position: absolute;
  }
}

#picker-desc {
  text-align: justify;
  margin: 20px 0;
  @extend %shadowed-text;
}

#picker-performance {
  margin-bottom: 20px;
  min-height: 2.5rem;
  position: relative;
  @extend %shadowed-text;

  sup {
    font-size: 1.5rem;
    font-weight: 800;
    position: absolute;
    top: -3px;
    right: -7px;
  }
}

#matcher-container {
  width: $pg-width;
  height: $pg-height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: inherit;
  font-size: 2rem;
}

#matcher-options-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  .matcher-option-active {
    box-shadow: 0 0 5px $shadow-color inset;
  }

  .MuiButton-root.Mui-disabled {
    color: $base-color-end;
    text-shadow: 0 0 5px $focus-shadow-color;
  }
}

#matcher-options-left,
#matcher-options-right {
  display: flex;
  flex-direction: column;

  .MuiButton-root {
    font-family: inherit;
    font-size: 3rem;
    text-transform: lowercase;
    @extend %shadowed-button;
  }
}

@include keyframes(fade-in-and-out) {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.validator-display {
  position: relative;
  width: 5rem;
  height: 5rem;

  .validator-correct,
  .validator-wrong {
    position: absolute;
    transition: opacity ease 300ms;

    @extend %shadowed-icon;

    .validator-icon {
      font-size: 5rem;
      opacity: 0;
    }

    .active {
      @include animation(1s, fade-in-and-out, 1);
    }
  }
}

#matcher-task {
  @extend %shadowed-text;
}

#matcher-performance {
  margin-bottom: 20px;
  min-height: 2.5rem;
  position: relative;
  @extend %shadowed-text;

  sup {
    font-size: 1.5rem;
    font-weight: 800;
    position: absolute;
    top: -3px;
    right: -7px;
  }
}

#not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#not-found-svg {
  font-size: 3.5rem;
  margin-right: 10px;
}

#error-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  @extend %shadowed-text;
  @extend %shadowed-icon;
  margin-bottom: 10px;
}

#home-button {
  font-size: 2rem;
  @extend %shadowed-button;
  font-family: inherit;
}

#canvas-validator {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 100;
}

#auth-container {
  background-color: $canvas-color;
}

.auth-form {
  font-family: inherit;
}

button.auth-tab {
  font-size: 1.4rem;
  font-family: inherit;
  @extend %shadowed-text;
}

.auth-form .form-input {
  margin: 5px 30px;

  label {
    font-family: inherit;
    color: $focus-shadow-color;
    @extend %shadowed-text;
  }

  input {
    font-size: 2rem;
    font-family: inherit;
    color: $text-color;
    @extend %shadowed-text;
  }

  p {
    font-size: 1rem;
    @extend %shadowed-text;
    color: $focus-shadow-color;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 2rem;
  }
}

.auth-form .auth-button {
  width: fit-content;
  margin: 5px auto 10px;
  font-size: 2rem;
  @extend %shadowed-button;
  font-family: inherit;
}

.auth-form .MuiInput-underline:before {
  border-color: $focus-shadow-color !important;
}

#profile-container {
  min-width: 40vw;
  font-size: 1.5rem;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
  @extend %shadowed-text;
  padding: 20px 20px 0 20px;
}

#profile-username {
  font-size: 3.5rem;
}

#profile-email {
  margin: 5px auto;
  font-size: 1.5rem;
}

#profile-container .profile-button {
  font-size: 2rem;
  @extend %shadowed-button;
  margin: 10px auto;
  font-family: inherit;
}

button.profile-tab {
  font-family: inherit;
  @extend %shadowed-text;
  font-size: 1.5rem;
}

#profile-stats-header {
  font-size: 2rem;
  margin: 50px auto 10px;
}

.profile-perf-info {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

#profile-stats .MuiTabs-flexContainer {
  justify-content: center;
}

#canvas-performance {
  margin-bottom: 12px;
  min-height: 2.5rem;
  position: relative;
  text-align: center;

  span {
    font-size: 2rem;
    font-family: inherit;
    @extend %shadowed-text;
  }
}

.MuiAlert-message {
  font-size: 1.5rem;
}
